{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.{js,jsx,ts,tsx}"],
      "options": {
        "parser": "babel-ts"
      }
    },
    {
      "files": ["app/**/*.{js,ts,jsx,tsx}"],
      "options": {
        "parser": "babel-ts"
      }
    }
  ]
  
}